
#github{
    display: flex;
    justify-content: center;
}
input[type=text]{
    padding: 10px;
   margin-left: 39%;
}
#showDetails{
    height: 40px;
}
.card-img{
    margin-left: 35%;
    margin-top: 10px;
    border-radius: 100px;
}
.card-title{
    margin-top: 10px;
    margin-left: 40%;
}
.card-subHeading{
    margin-top: 10px;
    margin-left: 40%;
}
.para1{
    margin-left: 40%;
}
#reposInfo{
    display: flex;
    flex-wrap: wrap;
   
    gap:20px
}
.card-body1{
    background-color: white;
   
    width: 300px;
    height: 200px;
    border-radius: 3%;
}
.lan{
    display: flex;
    gap: 12px;
    
   
}
.card-subHeading1{
    display: flex;
    margin-top: 20px;
}
.img1{
    margin-top: 1px;
}
.img2{
    margin-top: 5px;
}
.img3{
    margin-top: 3px;
}
body{
    background-color: lightblue;
}
.img4{
    margin-left: 10px;
}
.card-title1{
    margin-left: 10px;
    margin-top: 5px;
}
.card-text1{
    margin-top: 100px;
    
}
.last{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
span{
    margin-top: 32px;
}
#star{
    width: 100px;
    height: 50px;
    background: none;
    margin-top: 20px;
    background-color: cyan;
    border: none;
    border-radius: 5%;
}
#repoSort{
    width: 100px;
    height: 50px;
    background: none;
    margin-top: 20px;
    background-color: hotpink;
    border: none;
    border-radius: 5%;
}